<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stardust Website</title>
    <link rel="stylesheet" href="2ndpage.css">
</head>
<body>
    <!-- Header with Location Input -->
    <header class="header">
        <img src="logo (1).png" alt="Stardust Logo" class="logo">
        
    </header>

    <div class="content-box">
<p>

   <h2> <u><b>StarDust: Your Window to the Universe</b></u> </h2><br>
    
   At StarDust, we're passionate about connecting people with the wonders of the cosmos.<br> Our mission is to help stargazers of all levels find the perfect locations to observe the night sky.<br>
    
    What We Offer:<br>
    • Comprehensive locations of stargazing spots<br>
    • Light and air pollution maps and forecasts<br>
    • Celestial event calendars<br>
    • Equipment recommendations<br>
    • Articles on space exploration<br>
    
    Our team of astronomers, developers, and outdoor enthusiasts work tirelessly to provide accurate, <br>up-to-date information on the best places to stargaze in your area and around the world.<br>
    Join us in our quest to rediscover the night sky, one star at a time.<br>
    </p>
</div>
<div class="image-right">
    <img src="right-side-image.jpg" alt="Right Side Image">
</div>
    <script src="2ndpage.js"></script>
</body>
</html>

