<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stardust Website</title>
    <link rel="stylesheet" href="2ndpage.css">
</head>
<body>
    <!-- Header with Location Input -->
    <header class="header">
        <img src="logo (1).png" alt="Stardust Logo" class="logo">
        
    </header>

    <div class="content-box">
<p>

   <h2> <u><b>Stardust: Your Window to the Universe</b></u> </h2><br>
    
   Here at Stardust, we're head over heels for the night sky, and we can't wait to share that love with you! <br> 
   Our mission is to help stargazers of all levels find the perfect spot to marvel at the night sky.<br>
    
    What We Offer:<br>
    • Comprehensive locations of stargazing spots.<br>
    • Light and air pollution maps <br>
    • Celestial event calendars<br>
    • Equipment recommendations<br>
    • Articles on space exploration<br>
    
    Our team of star-loving astronomers, clever developers, and outdoor enthusiasts work their magic to bring you the latest and greatest on where to catch nature's best light shows – right in your backyard and beyond!<br>
    Join us in our quest to rediscover the night sky, one star at a time.<br>
    </p>
</div>
<div class="image-right">
    <img src="right-side-image.jpg" alt="Right Side Image">
</div>
    <script src="2ndpage.js"></script>
</body>
</html>

